## Objectives

In this part you will:

- Use webscraping to Collecting information about largest banks in the world by various parameters
- Store Collected information in a JSON file.

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import os

In [2]:
url = "https://web.archive.org/web/20200318083015/https://en.wikipedia.org/wiki/List_of_largest_banks"
respoce_html = requests.get(url)
respoce_txt = respoce_html.text
soup = BeautifulSoup(respoce_txt,'html')

In [3]:
data = []
table = soup.find_all("tbody")[2]
all_tr_tags = table.find_all("tr")
for tr_tag in all_tr_tags:
    all_td_tags_in_current_tr_tag = tr_tag.find_all("td")
    row = []
    for td_tag in all_td_tags_in_current_tr_tag:
        row.append(td_tag.text.strip())
    data.append(row)
df = pd.DataFrame(data,columns=['Rank',"Bank Name","Market cap (US$ billion)"])

In [4]:
df.drop(columns=["Rank"])

                                  Bank Name Market cap (US$ billion)
0                                      None                     None
1                            JPMorgan Chase                  390.934
2   Industrial and Commercial Bank of China                  345.214
3                           Bank of America                  325.331
4                               Wells Fargo                  308.013
..                                      ...                      ...
66                             Ping An Bank                   37.993
67                       Standard Chartered                   37.319
68                     United Overseas Bank                   35.128
69                                QNB Group                   33.560
70                              Bank Rakyat                   33.081

[71 rows x 2 columns]

In [5]:
df.to_json("bank_market_cap.json")